.App section {
	border-radius: 30px;
	border-color: #c9cacc;
	padding: 20px 20px;
	margin: 15px 150px;
	border-width: 1px;
	border-style: solid;
	font-family: "Roboto", sans-serif;
	color: white;
	background-image: url("https://images.unsplash.com/photo-1544177817-454e1238e05f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2100&q=80");
	background-size: cover;
}

.App .column {
	column-width: 300px;
}

.SearchForm {
	margin-top: 30px;
}

.App .btn {
	min-width: 120px;
	margin-right: 45px;
}

.SearchForm {
	margin-right: 15px;
}

.currentLocation {
	border-width: 1px;
	border-radius: 30px;
	box-shadow: 0px;
	margin-left: 185px;
	margin-top: 10px;
}
