.Info #weatherDescription {
	font-size: 25px;
	text-transform: capitalize;
	margin-top: 0px;
	margin-bottom: 0px;
}

.Info #city_selected {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 100px;
	font-weight: bold;
}

.Info #date-formatted {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 30px;
	font-weight: bold;
}

.Info .temperatureUnits {
	font-size: 80px;
}

.Info #humidityID {
	font-size: 30px;
	margin-left: 20px;
}

.Info #windID {
	font-size: 30px;
	margin-left: 20px;
}
